#header{
	background-color: #1F2937;
}

#hero-main-text{
	color: #F9FAF8;
	font-size: 48px;
	font-family: extra-bold;
}

#navbar{
	display: flex;
	justify-content: space-around;
	column-gap: 20px;
	align-items: center;
}

#header-logo{
  font-size: 24px;
  color: #F9FAF8;
  flex: 1;
}

#hero{
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}

.hero-secondary-text{
	font-size: 18px;
	color: #E5E7EB;
}

#a{
	width: 500px;
}


#sign-up-btn{
	background-color: #3882F6;
	color: white;
	border-radius: 5px;
	height: 25px;
	width: 100px;
}

#image-placeholder{
	background-color: gray;
	width: 400px;
	height: 200px;
}

#content{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#information-header{
	font-size: 36px;
	color: #1F2927;
	align-self: center;
}

#cards{
	display: flex;
	justify-content: center;
	column-gap: 50px;
}

.card-container{
	display: flex;
	flex-direction: column;
	width: 200px;
}

.card{
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #3882F6;
	border-width: 5px;
	border-radius: 10px;
}

#quote-section{
	background-color: #E5E7EB;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#quote-text{
	font-size: 36px;
	color: #1F2937;
	padding-left: 100px;
	padding-right: 100px;
}

#quote-author{
	align-self: flex-end;
}

#sign-up-section{
	display: flex;
	justify-content: center;
	background-color: #3882F6;
	color: white;
	align-items: center;
	column-gap: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

#sign-up-section-text{
	display: flex;
	flex-direction: column;
}

#footer{
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	color: white;
}

